.card-example {
  margin: 5px;
}

.my-btn {
  width: 240px;
  height: 65px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 2px 3px black;
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: larger;
}

.my-btn:hover {
  background-color: blue;
  color: rgb(217, 255, 47);
  font-weight: bold;
  min-height: 65px;
  height: auto;
}

.card-container{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  position: relative;
}

.back-btn {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(0, 132, 255);
  color: white;
  position: relative;
}

.back-btn:hover {
  background-color: blue;
  color: rgb(217, 255, 47);
  font-weight:bold ;
}

.card-footer {
  position:relative;
  z-index: 20;
  margin-left: 1.5%;
}
