<div class="card-container">
  <div class="card-example">
    <img class="header-img" src="/assets/tlo.png">
    <div>
      <button class="my-btn" (click)="enterPersonalDetails()">Podaj swoje dane</button>
    </div>
  </div>
  <div class="card-example">
    <img class="header-img" src="/assets/2.jpg">
    <div>
      <button class="my-btn" (click)="addToExam()">Dopisz się do egzaminu</button>
    </div>
  </div>
</div>
<div class='card-footer'>
  <button class="back-btn" (click)='onBack()'>Back</button>
</div>
