<main class="form-signin">
  <h1 class="h3 mb-3 fw-normal">Podaj Dane Przewodniczącego Komisji</h1>
  <div>
    <input [(ngModel)]="examinationCommitteeHead.examinationCommitteeHeadFirstName" type="text" class="form-control" placeholder="Imię">
  </div>
  <div>
    <input [(ngModel)]=" examinationCommitteeHead.examinationCommitteeHeadLastName" type="text" class="form-control" placeholder="Nazwisko">
  </div>
  <div>
    <button id="my-btn" (click)="createExaminationCommitteeHead(examinationCommitteeHead)">Wyślij</button>
  </div>
</main>
<div class="card-footer">
  <button class="back-btn" (click)='onBack()'>Back
  </button>
</div>
