<main class="form-signin">
  <h3 class="h3 mb-3 fw-normal" justify-content: center>Podaj Wynik Egzaminu</h3>
  <div>
    <input [(ngModel)]="examResult" class="form-control" type="text" placeholder="Pozytywny/Negatywny">
  </div>
  <h3 class="h3 mb-3 fw-normal" justify-content: center>Podaj Numer Egzaminu</h3>
  <div>
    <input [(ngModel)]="sailingExamNumber" class="form-control" type="text" placeholder="PV-0-RR">
    <button id="my-btn" (click)="getStudentsWhoPassedTheExam(examResult, sailingExamNumber)">Wyślij</button>
  </div>

</main>
<div class="card-footer">
  <button class="back-btn" (click)='onBack()'>Back</button>
</div>
<div class="table-container">
  <div class="table-responsive" class="my-table">
    <table class="table table-bordered" *ngIf="students">
      <thead>
        <tr>
          <th>lp</th>
          <th>Imię</th>
          <th>
            <div class="table-data-flex">
              <div>
                Nazwisko
              </div>
              <div class="table-data-flex-option">
                <mat-icon (click)="sortUsersData('asc')">expand_more</mat-icon>
                <mat-icon (click)="sortUsersData('desc')">expand_less</mat-icon>
              </div>
            </div>
          </th>
          <th>Pesel</th>
          <th>Numer Egzaminu</th>
          <th>Wynik</th>
          <th>Ulica</th>
          <th>Numer</th>
          <th>Numer Mieszkania</th>
          <th>Kod Pocztowy</th>
          <th>Miasto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | paginate
        : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        };
        let i = index">
          <td scope="row"></td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.pesel }}</td>
          <td>{{ student.sailingExamNumber}}</td>
          <td>{{ student.result }}</td>
          <td>{{ student.street }}</td>
          <td>{{ student.streetNumber }}</td>
          <td>{{ student.flatNumber }}</td>
          <td>{{ student.postalCode }}</td>
          <td>{{ student.city }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center" >
      <pagination-controls *ngIf="students"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
  </div>
</div>
