<main class="form-signin">
  <h3 class="h3 mb-3 fw-normal">Podaj Id Komisji</h3>
  <div>
    <input [(ngModel)]="examinationCommitteeId" type="number" class="form-control" placeholder="Id">
  </div>
  <h3 class="h3 mb-3 fw-normal">Podaj Nazwisko Członka Komisji</h3>
  <div>
    <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Nazwisko">
  </div>
  <button id="my-btn" (click)="connectCommitteeMemberAndCommittee(examinationCommitteeId, lastName)">Wyślij</button>
  <div class="info" *ngIf="responseInfo" >
    <p>{{responseInfo}}</p>
  </div>
</main>
<div class="card-footer">
  <button class="back-btn" (click)="onBack()">Back</button>
</div>
