<main class="form-signin">
  <h3 class="h3 mb-3 fw-normal" justify-content: center>Podaj Nazwisko Przewodniczącego Komisji</h3>
  <div>
    <input [(ngModel)]="lastName" class="form-control" type="text" placeholder="Nazwisko">
  </div>
  <button id="my-btn" (click)="getExaminationCommitteeHead(lastName)">Wyślij</button>
</main>
<div class="card-footer">
  <button class="back-btn" style="width:80px" (click)='onBack()'>Back</button>
</div>
<div class="table-container">
  <div class="table-responsive" class="head-table">
  <table class="table" *ngIf="examinationCommitteeHead.examinationCommitteeHeadFirstName">
    <thead>
      <tr>
        <th>lp</th>
        <th>Imię</th>
        <th>Nazwisko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td>{{ examinationCommitteeHead.examinationCommitteeHeadFirstName }}</td>
        <td>{{ examinationCommitteeHead.examinationCommitteeHeadLastName }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

